<!DOCTYPE html>
<html>
 
  	<head>

        <title>Whatsapp chatbot</title>
        <!-- En-tête du document  -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       
        <!-- Balise meta  -->
        <meta name="title" content="Chatbot : checking page" />
        <meta name="description" content="description de la page" />
        <meta name="keywords" content="mots-clé1, mots-clé2, ..." />
       
        <!-- Indexer et suivre -->
        <meta name="robots" content="index,follow" />
       
        <!--  Relier une feuille CSS externe  -->
        <!-- <link rel='stylesheet' href='votre-fichier.css' type='text/css' /> -->
       
        <!-- Incorporez du CSS dans la page  -->
        <style type="text/css" media="screen">
          
        </style>
    
        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
        <!-- jQuery UI -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    
        <!-- Main CSS-->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">

    </head>
    <body>
        <div>Folder : {{ folder }}</div>
        <div>Opérations : {{ operation }}</div>
    </body>
</html>